/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('/images/bg.jpg'); /* Background Image */
    background-size: cover;
    background-position: flex;
    margin: 0;
    padding: 0;
    color: #333;
    background-size: 100%;
  }
.navbar {
    background-color: #156B83;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.logo-text{
    color: white;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    width: 40px;
    margin-right: 10px;
    padding-left: 5px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 13px;
    background-color: #0f3f42;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.nav-link:hover {
    background-color: #ff6347;
}
.main-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px; 
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 54%; 
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed; 
    margin-top: 2rem; 
    padding: 1.5rem; 
}
/* Form title */
.main-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1.5rem;
  } 
.form-label {
    color: #fff;   
} 
.form-container select{
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #ffddd2;
    color: black;
}
.form-container input[type="number"]{
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #ffddd2;
    color: black;
}
.exercise-form-input {
    width: 150px;
}
.form-input:focus {
    border-color: #ff7e67;
}
.duration {
    width: 100px;
    display: inline-block;
}
/* Sets and Reps styling */
.sets-reps-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
  }  
/* Submit button */
  .submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f6a38f;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}
.submit-button:hover {
    background-color: #ff6347;
  }
/* Video Section styling */
.video-section {
    margin-top: 1.5rem;
    margin-top: 20 px; 
    max-width: 100%;
}
.video-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
}
.exercise-video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Responsive styling */
@media (max-width: 600px) {
.main-container {
      padding: 1.5rem;
    }
  
.form-input, .submit-button {
      max-width: 100%;
    }
  }